body{
    margin: 0;
    padding: 0;


}
#contenedor{
    width: 100%;
    height: 700px;
    background: black url('../img/moscuLogin.jpg');
    background-size: cover;
    
}
/*Formulario*/
#form{
    display: block;
    position: relative;
    width: 60%;
    height: auto;
    left: 22%;
    top: 100px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    border-radius: 10px;
    background: rgba(56, 50, 50, 0.3);
    box-shadow: 0px 0px 12px  rgba(255, 255, 255, 1) ;
}
/*Titulo del forulario e imagen*/
#divTitulo > img{
  width: 150px;
  margin: 10px;
  color: beige;
  background: white;
  padding: 0px;
  border-radius: 50%;
}
 
/*Campos input*/
#form > #divCamposBoton > input {
    position: relative;
   display: block;
   margin-top: 60px;
   left: 27%;
   font-size: 30px;

} 
#form > #divCamposBoton > input[type='text'] {
border: none;
background:rgba(100, 100, 100, 0.0);
outline: none;
color: white;
border-bottom: 1px solid white;

}
#form > #divCamposBoton > input[type='password'] {
    border: none;
    background:rgba(100, 100, 100, 0.0);
    outline: none;
    color: white;
    border-bottom: 1px solid white;
    
    }
    

/*Al hacer focus en los inputs de tipos text el place holder desaparece*/
#form > #divCamposBoton > input[type='text']:focus::placeholder{
    color: rgba(255, 255, 255, 0.0);
}
/*Todos los place holder tienen color blaco*/
::placeholder{
    color: rgba(255, 255, 255, 0.8);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#form > #divCamposBoton > #entrarB{
    bottom: 30px;
left: 43%;
border: none;
border-radius: 5px;
margin-bottom: 30px;
margin-top: 30px;
background:rgba(255, 255, 255, 0.4);
color: black;
padding: 10px;
outline: none;
}
#form > #divCamposBoton > #entrarB:hover{
    background-color: teal;
    color: white;
    transition: all .2s linear;
    transform: scale(1.1,1.1);

    
}

/*Link de registro*/

#form > #registroLink{
    
    color: white;
    outline: none;
    font-size: x-large;
    position: relative;
    bottom: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

